<a href="https://colab.research.google.com/github/hariprasad7/hari_INFO5731_Spring2021/blob/main/In_class_exercise_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (9/16/2020, 20 points in total)

The purpose of this exercise is to under users' information needs, then collect the data for analysis.

Question 1 (8 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
'''
My research question is to extract list of all Netflix movie names from IMDB server(https://www.imdb.com/list/ls057824079/)
For this I need list of all movie name headers - Used class lister-item-header
I extracted top 500 movies list based on Movie Rating
I have used pandas and Beautifulsoup libraries
I have created a csv file for the extracted data to make it as readable data
'''

Question 2 (12 points): Write python code to collect 500 items of the data you plan to collect above.

In [4]:
#importing modules
import requests
from bs4 import BeautifulSoup
import pandas as pd
#Creating a function(extract_movie_content) to rxtract data from IMDB server
def extract_movie_content(page_number=None):
    if page_number == 1:
        url = "https://www.imdb.com/list/ls057824079/"
    else:
        url = f"https://www.imdb.com/list/ls057824079/?page={page_number}" #update the page number from 2 to 6 in URL
    print(url)
    req = requests.get(url)
    soup = BeautifulSoup(req.content, 'html.parser')
    movie_details = soup.find_all('h3', {'class': 'lister-item-header'}) #pulling movie name from URL using class->lister-item-header
#Creating List->op of all the movie names
    op = []
    for movie in movie_details:
        op.append({'movie_name': movie.a.text})
    return op
#Creating a function(build_movies) to extract movie names based on page numbers(from 1 to6)
def build_movies():
    final_op = []
    for page in range(1, 6):
        print(f"Extracting page: {page}")
        final_op = final_op + extract_movie_content(page_number=page)
#Converting list into dataframe using pandas
    df = pd.DataFrame(final_op)
    df.to_csv("movies_list.csv")
    return df

build_movies()

Extracting page: 1
https://www.imdb.com/list/ls057824079/
Extracting page: 2
https://www.imdb.com/list/ls057824079/?page=2
Extracting page: 3
https://www.imdb.com/list/ls057824079/?page=3
Extracting page: 4
https://www.imdb.com/list/ls057824079/?page=4
Extracting page: 5
https://www.imdb.com/list/ls057824079/?page=5

                        movie_name
0                         Dead Man
1                  All Good Things
2                            Brick
3           Breakfast at Tiffany's
4                     Billy Elliot
..                             ...
495          Things Behind the Sun
496  Down and Out in Beverly Hills
497      The Thief and the Cobbler
498             Date with an Angel
499                  The Butterfly

[500 rows x 1 columns]