<a href="https://colab.research.google.com/github/hariprasad7/hari_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [26]:
string1=str(input("Enter a string: "))
print(len(string1))

Enter a string: hari
4

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [27]:
import operator
string2=str(input("enter a string: "))
lt=len(string2)
ar={}
for x in range(lt):
  ct=0
  for y in range(lt):
    if string2[x]==string2[y]:
      ct+=1
  ar.update({string2[x]:ct})
sortdic=sorted(ar.items(),key=operator.itemgetter(1),reverse=True)
print(dict(sortdic))

enter a string: google.com
{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [28]:
l=int(input(print("Enter the number of elements in the List: ")))
list1=[]
for x in range(l):
  txt="Enter element {}: in the List " 
  a=int(input(txt.format(x+1)))
  list1.append(a)
print(sum(list1))

Enter the number of elements in the List:
3
Enter element 1: in the List 1
Enter element 2: in the List 2
Enter element 3: in the List 3
6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [29]:
string3=str(input("Enter a string: "))
l=len(string3)
for x in range(l-1):
  if string3[x+1]==string3[0]:
    string3=string3[:x+1]+"$"+string3[x+2:]
print(string3)

Enter a string: restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [30]:
a=float(input('Enter value a: '))
b=float(input('Enter value b: '))
if a>b and b!=0:  
  s=3.14*((1+(a/b))**3)
  print(s)
else:
  print("Please provide input values as a>b and b not equals zero")

Enter value a: 5
Enter value b: 3
59.54370370370373

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [31]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4={**dic1, **dic2, **dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [32]:
l=int(input(print("Enter the number of elements in the Tuple: ")))
tuple1=()
list3=[]
for x in range(l):
  txt="Enter element {} in the Tuple:" 
  a=input(txt.format(x+1))
  list3.append(a)
tuple1=tuple(list3)
x=input("Enter value to be found:")
if x in tuple1:
  txt="Element {} is present in the Tuple"
  print(txt.format(x))
else:
  txt="Element {} is not present in the Tuple"
  print(txt.format(x))

Enter the number of elements in the Tuple:
3
Enter element 1 in the Tuple:a
Enter element 2 in the Tuple:b
Enter element 3 in the Tuple:c
Enter value to be found:b
Element b is present in the Tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
l=int(input("Enter the number of elements in the Set: "))
set1={}
list2=[]
for x in range(l):
  txt="Enter element {} in the Set: " 
  a=int(input(txt.format(x+1)))
  list2.append(a)
set1=set(list2)
print(max(set1))
print(min(set1))

Enter the number of elements in the Set:
5
Enter element 1 in the Set:1
Enter element 2 in the Set:2
Enter element 3 in the Set:3
Enter element 4 in the Set:4
Enter element 5 in the Set:5
5
1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [33]:
import random
list1=['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
l=len(list1)
l1=[]
l2=[]
l3=[]
l4=[]
l5=[]
for x in range(l):
  if list1 and len(l1)<=5:
    a=random.choice(list1)
    l1.insert(x, a)
    list1.remove(a)
  else:
    break
  if list1 and len(l2)<=5:
    a=random.choice(list1)
    l2.insert(x, a)
    list1.remove(a)
  else:
    break
  if list1 and len(l3)<=5:
    a=random.choice(list1)
    l3.insert(x, a)
    list1.remove(a)
  else:
    break
  if list1 and len(l4)<=5:
    a=random.choice(list1)
    l4.insert(x, a)
    list1.remove(a)
  else:
    break
  if list1 and len(l5)<=5:
    a=random.choice(list1)
    l5.insert(x, a)
    list1.remove(a)
  else:
    break
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

['tv0119', 'pc0353', 'at0739', 'yye0005', 'rrk0058']
['snd0097', 'vl0135', 'pn0159', 'rak0120', 'msp0174']
['ss1995', 'sg0940', 'at0768', 'mv0299']
['spk0057', 'vmb0067', 'dy0091', 'ds0761']
['dd0420', 'nm0547', 'bk0301', 'rs0850']