<a href="https://colab.research.google.com/github/hariprasad7/hari_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random
l=[]
for i in range(12):
  l.append(random.randint(1,100))
l.sort()
print("List of 12 Random numbers in ascending order is: {}".format(l))
l.sort(reverse=True)
print("List of 12 Random numbers in descending order is: {}".format(l))
print("Average of selected 12 Random numbers is: {}".format((sum(l)/12)))

List of 12 Random numbers in ascending order is: [16, 17, 21, 22, 45, 50, 52, 83, 87, 89, 94, 99]
List of 12 Random numbers in descending order is: [99, 94, 89, 87, 83, 52, 50, 45, 22, 21, 17, 16]
Average of selected 12 Random numbers is: 56.25

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [48]:
import re
s1=input("Enter First sentence: ")
s2=input("Enter Second sentence: ")
print("List of sentence 1 is: {}".format(re.findall(r"[\w']+|[!?]",s1)))
print("List of sentence 2 is: {}".format(re.findall(r"[\w']+|[!?]",s2)))

Enter First sentence: Alas! Am I alive? This is my first python program
Enter Second sentence: UNT? is it!
List of sentence 1 is: ['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
List of sentence 2 is: ['UNT', '?', 'is', 'it', '!']

In [49]:
s1=input("Enter First sentence: ")
s2=input("Enter Second sentence: ")
l1=s1.split()
l2=s2.split()
l3=[]
for i in l1:
  for j in l2:
    if i.lower()==j.lower():
      l3.append(i)
print("Common words in two sentences are: {}".format(l3))

Enter First sentence: Alas! Am I alive? This is my first python program
Enter Second sentence: This is second python
Common words in two sentences are: ['This', 'is', 'python']

In [52]:
import re
s1=input("Enter sentence: ")
print(re.split('(?<![0-9])[\s.,:;!?](?![0-9])',s1))

Enter sentence: Alas!Am I alive?This is my first python program
['Alas', 'Am', 'I', 'alive', 'This', 'is', 'my', 'first', 'python', 'program']

In [55]:
import re
s1=input("Enter First sentence: ")
s2=input("Enter Second sentence: ")
def vow(s):
  a=0
  e=0
  i=0
  o=0
  u=0
  for j in s:
    if re.findall('a',j):
      a+=1
    if re.findall('e',j):
      e+=1
    if re.findall('i',j):
      i+=1
    if re.findall('o',j):
      o+=1
    if re.findall('u',j):
      u+=1
  print("a:{},e:{},i:{},o:{},u:{}".format(a,e,i,o,u))
vow(s1)
vow(s2)

Enter First sentence: Alas! Am I alive? This is my first python program
Enter Second sentence: Alas! Am I alive? This is my first second program
a:3,e:1,i:4,o:2,u:0
a:3,e:2,i:4,o:2,u:0

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
pi=3.14
print("r  V")
for i in range(10):
  v=(4/3)*pi*((i+1)**3)
  print("{}  {}".format(i+1,v))

r  V
1  4.1866666666666665
2  33.49333333333333
3  113.03999999999999
4  267.94666666666666
5  523.3333333333334
6  904.3199999999999
7  1436.0266666666666
8  2143.5733333333333
9  3052.08
10  4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
#1

f=open("Assignment1_denton_housing.csv","r")
a=f.readlines()
y=2014
v1=0
v2=0
l=[]
while y>2008:
  for i in a:
    if i[0:4]==str(y) and i[5:27]=="Occupied Housing Units":
      v1=float(i.strip().split(",")[2])
    if i[0:4]==str(y-1) and i[5:27]=="Occupied Housing Units":
      v2=float(i.strip().split(",")[2])
      val=v1-v2
      l.append(abs(val))
      print("Difference in value for years {} and {} is {}".format(y,y-1,abs(val)))
  y-=1
l.sort()
print("Values in Asceding order: {}".format(l))

Difference in value for years 2014 and 2013 is 2622.0
Difference in value for years 2013 and 2012 is 1565.0
Difference in value for years 2012 and 2011 is 1404.0
Difference in value for years 2011 and 2010 is 303.0
Difference in value for years 2010 and 2009 is 5091.0
Difference in value for years 2009 and 2008 is 795.0
Values in Asceding order: [303.0, 795.0, 1404.0, 1565.0, 2622.0, 5091.0]

In [ ]:
#2

f=open("Assignment1_denton_housing.csv","r")
a=f.readlines()
y=2008
v1=0
v2=0
vt=0
while y<=2014:
  for i in a:
    if i[0:4]==str(y) and i[5:24]=="Total Housing Units":
      vt=float(i.strip().split(",")[2])
    if i[0:4]==str(y) and i[5:25]=="Vacant Housing Units":
      v1=float(i.strip().split(",")[2])
    if i[0:4]==str(y) and i[5:27]=="Occupied Housing Units":
      v2=float(i.strip().split(",")[2])
      print("{} {}% {}%".format(y,round((v1/vt)*100),round((v2/vt)*100)))
  y+=1

2008 11% 89%
2009 9% 91%
2010 8% 92%
2011 9% 91%
2012 7% 93%
2013 9% 91%
2014 6% 94%

In [ ]:
#3

import operator
f=open("Assignment1_denton_housing.csv","r")
a=f.readlines()
y=2014
dict1={}
dict2={}
while y>=2008:
  for i in a:
    if i[0:4]==str(y) and i[5:25]=="Vacant Housing Units":
      dict1.update({y:int(i.strip().split(",")[2])})
    if i[0:4]==str(y) and i[5:27]=="Occupied Housing Units":
      dict2.update({y:int(i.strip().split(",")[2])})
  y-=1
a=max(dict1.items(),key=operator.itemgetter(1))
b=max(dict2.items(),key=operator.itemgetter(1))
print("                          Year   Value")  
print("Vacant  Housing Units     {}   {}".format(a[0],a[1]))
print("Occupied Housing Units    {}   {}".format(b[0],b[1]))

                          Year   Value
Vacant  Housing Units     2008   4483
Occupied Housing Units    2014   46295

In [ ]:
#4

f=open("Assignment1_denton_housing.csv","r")
a=f.readlines()
y=2014
x=0
c=0
while y>=2008:
  for i in a:
    if i[0:4]==str(y) and i[5:24]=="Total Housing Units":
      c+=1
      x=x+(1/(int(i.strip().split(",")[2])))
  y-=1
hm=c/x
print(hm)

44398.28543969185